/* Margine */
#section1{
    width: 200px;
    background-color: green;
    margin: 20px 15px 25px 40px; /*Top Right Bottom Left*/
}
/* Padding */
#section2{
    width: 200px;
    background-color: orange;
    padding: 20px 15px 25px 40px ;
    margin:20px 15px 25px 40px ;
}
    /*Border*/
#section3 h1{
    border-left: 5px yellow solid;
    border-right: 5px green solid;
    border-top: 5px red solid;
    border-bottom: 5px orange solid;
    width: 280px;
}
#section3 h2{
    border-left: 5px yellow solid;
    border-right: 5px green solid;
    border-top: 5px red solid;
    border-bottom: 5px orange solid;
    width: 280px;
}
#section3 h3{
    border-left: 5px yellow solid;
    border-right: 5px green solid;
    border-top: 5px red solid;
    border-bottom: 5px orange solid;
    width: 280px;
}
#section3 h4{
    border-left: 5px yellow solid;
    border-right: 5px green solid;
    border-top: 5px red solid;
    border-bottom: 5px orange solid;
    width: 280px;
}
h4{
    border: orange solid 40px;
    width: 280px;
    border-radius: 50px;

    padding: 30px;
    margin-left: 50px;

    word-spacing: 5px;
    letter-spacing: 3px;
    
    font-size: large;
}
